# Projeto Candidato x Investimento

***

Este notebook tem o intuito de <b>estudar uma possível correlação entre financiamento eleitoral e numero de votos</b> obtidos por candidatos em eleições diretas. O estudo será feito nas seguintes etapas:


<b><font color=green> 1. Importando os dados.</b></font>

<b><font color=green> 2. Analise das variáveis.</b></font>


Abaixo seguem as etapas detalhadas:

***

## 1. <font color=red>IMPORTANDO OS DADOS</font>

In [124]:
# importando as possíveis bibliotecas a serem utilizadas

import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns

### 1.1 <font color=green>Importando os dados das receitas dos candidatos</font>

***

In [125]:
# localizando o arquivo no disco rígido

local_arquivo_receitas = "dados/receitas_candidato-07112022.csv"

In [126]:
# criando um dataframe com os dados baixados

receitas_candidatos_SP = pd.read_csv(local_arquivo_receitas, sep=',')

In [127]:
# visualizando os dados baixados

receitas_candidatos_SP.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,numero_candidato,cpf_candidato,cnpj_candidato,titulo_eleitor_candidato,...,cpf_administrador,numero_recibo_eleitoral,numero_documento,numero_recibo_doacao,numero_documento_doacao,tipo_prestacao_contas,data_prestacao_contas,sequencial_prestador_contas,cnpj_prestador_contas,entrega_conjunto
0,2020,1,eleicao ordinaria,SP,3550308,71072,45678,7902417815,NaN,NaN,...,NaN,NaN,NaN,456781371072SP000002E,NaN,final,2020-12-09,1845020286,38838436000127,NaN
1,2020,1,eleicao ordinaria,SP,3538709,68756,25010,4984729813,NaN,NaN,...,NaN,NaN,NaN,250101368756SP000001E,591366482,final,2020-12-15,1828971303,38510704000187,NaN
2,2020,1,eleicao ordinaria,SP,3518800,64777,13217,87471779853,NaN,NaN,...,NaN,NaN,NaN,132171364777SP000001E,NaN,final,2020-12-04,1832935796,38569259000120,NaN
3,2020,1,eleicao ordinaria,SP,3529401,66893,12600,30550214879,NaN,NaN,...,NaN,NaN,NaN,126001366893SP000007E,NaN,final,2020-12-10,1844928372,38843040000178,NaN
4,2020,1,eleicao ordinaria,SP,3510609,63134,19619,17750686843,NaN,NaN,...,NaN,NaN,NaN,196191363134SP000003E,NaN,final,2020-12-02,1844567089,38809101000180,NaN

In [128]:
# verificando as variáveis dos dados coletados

receitas_candidatos_SP.columns

Index(['ano', 'turno', 'tipo_eleicao', 'sigla_uf', 'id_municipio',
       'id_municipio_tse', 'numero_candidato', 'cpf_candidato',
       'cnpj_candidato', 'titulo_eleitor_candidato', 'sequencial_candidato',
       'id_candidato_bd', 'nome_candidato', 'cpf_vice_suplente',
       'numero_partido', 'nome_partido', 'sigla_partido', 'cargo',
       'sequencial_receita', 'data_receita', 'fonte_receita', 'origem_receita',
       'natureza_receita', 'especie_receita', 'situacao_receita',
       'descricao_receita', 'valor_receita', 'sequencial_candidato_doador',
       'cpf_cnpj_doador', 'sigla_uf_doador', 'id_municipio_tse_doador',
       'nome_doador', 'nome_doador_rf', 'cargo_candidato_doador',
       'numero_partido_doador', 'sigla_partido_doador', 'nome_partido_doador',
       'esfera_partidaria_doador', 'numero_candidato_doador', 'cnae_2_doador',
       'descricao_cnae_2_doador', 'cpf_cnpj_doador_orig', 'nome_doador_orig',
       'nome_doador_orig_rf', 'tipo_doador_orig',
       'descricao_cnae_2_doador_orig', 'nome_administrador',
       'cpf_administrador', 'numero_recibo_eleitoral', 'numero_documento',
       'numero_recibo_doacao', 'numero_documento_doacao',
       'tipo_prestacao_contas', 'data_prestacao_contas',
       'sequencial_prestador_contas', 'cnpj_prestador_contas',
       'entrega_conjunto'],
      dtype='object')

In [140]:
# selecionando as variáveis para estudo

selecao_receitas_candidatos_SP = receitas_candidatos_SP[
    ['id_municipio_tse', # identificação do município
     'numero_candidato', 'nome_candidato', 'cargo', # identificação do candidato
     'numero_partido', 'nome_partido', 'sigla_partido', # identificação do partido do candidato
     'descricao_receita', 'valor_receita']] # identificação da receita

selecao_receitas_candidatos_SP.head()

,id_municipio_tse,numero_candidato,nome_candidato,cargo,numero_partido,nome_partido,sigla_partido,descricao_receita,valor_receita
0,71072,45678,GILSON ALMEIDA BARRETO,vereador,45,Partido da Social Democracia Brasileira,PSDB,IMÕVEL NA AVENIDA MATEO BEI 2614 SAO MATEUS,20000.0
1,68756,25010,DILNEI DE CAMPOS,vereador,25,Democratas,DEM,NaN,200.0
2,64777,13217,GIZELIA APARECIDA DA SILVA ARAUJO,vereador,13,Partido dos Trabalhadores,PT,VEICULO MONZA CINZA ANO 1983 PLACA BLZ4104,1000.0
3,66893,12600,ALESSANDRO FAUSTINO MARTINS,vereador,12,Partido Democrático Trabalhista,PDT,FIAT PALIO FIRE ANO/MOD 2012/2013,1000.0
4,63134,19619,CESAR AUGUSTO JOSE,vereador,19,Podemos,PODE,CESSÃO DE VEÍCULO PRÓPRIO PARA USO DURANTE A C...,2000.0

In [130]:
# verificando o tamanho do dataframe

selecao_receitas_candidatos_SP.shape

(354934, 10)

In [131]:
# verificando os cargos para o estado de SP com os dados colhidos

selecao_receitas_candidatos_SP.cargo.unique()

array(['vereador', 'prefeito', 'vice-prefeito'], dtype=object)

In [132]:
# escolhendo somente os dados para as prefeituras do estado de SP

selecao_prefeitos_receitas_candidatos_SP = selecao_receitas_candidatos_SP.query('cargo == "prefeito"')

# vizualizando os dados coletados
selecao_prefeitos_receitas_candidatos_SP.head()

,id_municipio_tse,id_municipio_tse,numero_candidato,nome_candidato,cargo,numero_partido,nome_partido,sigla_partido,descricao_receita,valor_receita
5,63134,63134,45,MARCO AURELIO DOS SANTOS NEVES,prefeito,45,Partido da Social Democracia Brasileira,PSDB,VENTILADORES VENTISILVA,178.03
6,68578,68578,13,GEREMIAS RIBEIRO PINTO,prefeito,13,Partido dos Trabalhadores,PT,FORD FOCUS SEDAN 2010/2011 EM NOME DO CONJUGE,1000.00
13,62910,62910,23,VANDRÉ LUIZ DE CAMARGO VON ZUBEN,prefeito,23,Cidadania,CIDADANIA,NaN,20000.00
26,68098,68098,45,CARLOS HIROCI OUTI,prefeito,45,Partido da Social Democracia Brasileira,PSDB,NaN,12000.00
27,63894,63894,13,CÉLIA REGINA BRANDANI,prefeito,13,Partido dos Trabalhadores,PT,MESA DE PVC USADA,55.00

### 1.2 <font color=green>Importando os dados dos códigos dos municípios</font>

***

In [133]:
# localizando o arquivo no disco rígido

local_arquivo_municipios_tse = "dados/municipios_brasileiros_tse-07112022.csv"

In [134]:
# criando um dataframe com os dados baixados
municipios_codigo_tse = pd.read_csv(local_arquivo, sep=',')

# visualizando os dados coletados
municipios_codigo_tse.head()

   codigo_tse  uf nome_municipio  capital  codigo_ibge
0        1120  AC     ACRELÂNDIA        0      1200013
1        1570  AC   ASSIS BRASIL        0      1200054
2        1058  AC      BRASILÉIA        0      1200104
3        1007  AC         BUJARI        0      1200138
4        1015  AC       CAPIXABA        0      1200179

In [135]:
# localizando o arquivo no disco rígido

municipios_SP_codigo_tse = municipios_codigo_tse.query('uf == "SP"').reset_index(drop=True)

# visualizando o dataframe com o código do tse para os municípios do estado de SP
municipios_SP_codigo_tse

     codigo_tse  uf      nome_municipio  capital  codigo_ibge
0         61018  SP          ADAMANTINA        0      3500105
1         61034  SP              ADOLFO        0      3500204
2         61050  SP               AGUAÍ        0      3500303
3         61131  SP              AGUDOS        0      3500709
4         61581  SP            ALAMBARI        0      3500758
..          ...  ..                 ...      ...          ...
640       61115  SP  ÁGUAS DE SÃO PEDRO        0      3500600
641       61239  SP    ÁLVARES FLORENCE        0      3501202
642       61255  SP     ÁLVARES MACHADO        0      3501301
643       61271  SP  ÁLVARO DE CARVALHO        0      3501400
644       67776  SP                ÓLEO        0      3533809

[645 rows x 5 columns]

### 1.3 <font color=green>Importando os dados dos resultados das votações de cada candidato</font>

***

In [136]:
# localizando o arquivo no disco rígido

local_arquivo_resultados = "dados/resultados_candidatos-07112022.csv"

In [137]:
# criando um dataframe com os dados baixados

resultados_candidatos_SP = pd.read_csv(local_arquivo_resultados, sep=',')

# visualizando os dados coletados dos resultados de cada candidato no estado de SP
resultados_candidatos_SP.head()

,ano,turno,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,cargo,numero_partido,sigla_partido,numero_candidato,sequencial_candidato,id_candidato_bd,resultado,votos
0,2020,1,eleicao ordinaria,SP,3500105,61018,prefeito,25,DEM,25,250001018914,1018939.0,eleito,11863
1,2020,1,eleicao ordinaria,SP,3500105,61018,prefeito,55,PSD,55,250001085198,1319672.0,nao eleito,3367
2,2020,1,eleicao ordinaria,SP,3500105,61018,vereador,10,REPUBLICANOS,10999,250001023020,968597.0,nao eleito,28
3,2020,1,eleicao ordinaria,SP,3500105,61018,vereador,10,REPUBLICANOS,10242,250001023021,1422654.0,nao eleito,33
4,2020,1,eleicao ordinaria,SP,3500105,61018,vereador,10,REPUBLICANOS,10333,250001023022,1730446.0,nao eleito,353

In [138]:
# verificando as variáveis dos dados coletados

resultados_candidatos_SP.columns

Index(['ano', 'turno', 'tipo_eleicao', 'sigla_uf', 'id_municipio',
       'id_municipio_tse', 'cargo', 'numero_partido', 'sigla_partido',
       'numero_candidato', 'sequencial_candidato', 'id_candidato_bd',
       'resultado', 'votos'],
      dtype='object')

In [142]:
# selecionando as variáveis para estudo

selecao_resultados_candidatos_SP = resultados_candidatos_SP[
    ['id_municipio_tse', # identificação do município
     'numero_candidato', # identificação do candidato
     'numero_partido', 'sigla_partido', 'cargo', # identificação do partido do candidato
     'resultado', 'votos']] # identificação da receita

selecao_resultados_candidatos_SP.head()

,id_municipio_tse,numero_candidato,numero_partido,sigla_partido,cargo,resultado,votos
0,61018,25,25,DEM,prefeito,eleito,11863
1,61018,55,55,PSD,prefeito,nao eleito,3367
2,61018,10999,10,REPUBLICANOS,vereador,nao eleito,28
3,61018,10242,10,REPUBLICANOS,vereador,nao eleito,33
4,61018,10333,10,REPUBLICANOS,vereador,nao eleito,353

In [143]:
# verificando o tamanho do dataframe

selecao_resultados_candidatos_SP.shape

(85770, 7)

In [144]:
# verificando os cargos para o estado de SP com os dados colhidos

selecao_resultados_candidatos_SP.cargo.unique()

array(['prefeito', 'vereador'], dtype=object)

In [145]:
# escolhendo somente os dados para as prefeituras do estado de SP

selecao_prefeitos_resultados_candidatos_SP = selecao_resultados_candidatos_SP.query('cargo == "prefeito"')

# vizualizando os dados coletados
selecao_prefeitos_resultados_candidatos_SP.head()

,id_municipio_tse,numero_candidato,numero_partido,sigla_partido,cargo,resultado,votos
0,61018,25,25,DEM,prefeito,eleito,11863
1,61018,55,55,PSD,prefeito,nao eleito,3367
82,61034,15,15,MDB,prefeito,nao eleito,1217
83,61034,45,45,PSDB,prefeito,eleito,2087
128,61050,10,10,REPUBLICANOS,prefeito,nao eleito,902

In [148]:
# visualizando a quantidade de daos do dataframe com os resultados dos prefeitos dos municipios do estado de SP
selecao_prefeitos_resultados_candidatos_SP.shape

(2484, 7)